In [15]:
import numpy as np
import pandas as pd
import requests
import re
from diskcache import Cache

<h2>In this file we will build the model from data generated by LLMs</h2>

In [8]:
# CACHE_DIR = "./.jdm_cache"

Useful links :


https://jdm-api.demo.lirmm.fr/v0/relations/from_by_id/{node1_id}
https://jdm-api.demo.lirmm.fr/v0/node_by_name/{node_name}

In [ ]:
# cache = Cache()

We will define a function that parses a phrase in genitive form : [A] de or des or du etc... [B]

In [41]:
def parse_genitive(string):
    return re.split(r"( d'un | d'| des | de la | de | du )+",string)

In [30]:
# print(parse_genitive("la glace de la mere de la fermiere"))

In [31]:
df = pd.read_csv("corpus_2.csv")

In [32]:
df.tail()

                      exemple relation
517     le maquereau de ligne  matiere
518  le hareng de mer du nord  matiere
519       l'anguille de loire  matiere
520          la carpe d'étang  matiere
521     le brochet de rivière  matiere

In [43]:
K = df["exemple"].apply(lambda x : parse_genitive(x))